service vendor.xiaomi_device_script /vendor/bin/init.xiaomi.device.sh
    class early_hal
    user root
    group root
    oneshot

# Audio
on property:ro.vendor.xiaomi.device=deadpool
    setprop vendor.audio.mixer_xml.path /odm/etc/mixer_paths_sdm429_sku1.xml

on property:ro.vendor.xiaomi.device=panther
    setprop vendor.audio.mixer_xml.path /odm/etc/mixer_paths_sdm439_sku1.xml

# OverlayFS
on property:ro.vendor.xiaomi.device=pine
    mount overlay overlay /vendor/etc/sensors ro lowerdir=/vendor/overlayfs/pine/etc/sensors/:/vendor/etc/sensors
    mount overlay overlay /vendor/etc/camera ro lowerdir=/vendor/overlayfs/pine/etc/camera/:/vendor/etc/camera
    restart vendor.camera-provider-2-4

on property:ro.vendor.xiaomi.device=olive
    mount overlay overlay /vendor/etc/sensors ro lowerdir=/vendor/overlayfs/olive/etc/sensors/:/vendor/etc/sensors
    mount overlay overlay /vendor/etc/camera ro lowerdir=/vendor/overlayfs/olive/etc/camera/:/vendor/etc/camera
    restart vendor.camera-provider-2-4
